# CMake and build files
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Executables and libraries
*.exe
*.dll
*.so
*.dylib
*.lib
*.a

# Qt deployment folders
generic/
iconengines/
imageformats/
networkinformation/
platforms/
styles/
tls/
translations/

# IDE files
.vscode/
.vs/
*.user

# Other
contacts.txt
